<h2>Eventos</h2>
<hr>

<form action="" class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="buscar">
    </div>
    <div>
      <button class="btn btn-outline-success">Buscar</button>
    </div>
  </div>
</form>

<hr>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Imagem</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events">
      <td class="text-center" scope="row">{{event.eventId}}</td>
      <td class="text-center">{{event.imageUrl}}</td>
      <td class="text-center">{{event.title}}</td>
      <td class="text-center">{{event.local}}</td>
      <td class="text-center">{{event.eventDate}}</td>
      <td class="text-center">{{event.peopleQuantity}}</td>
      <td class="text-center">{{event.batch}}</td>
      <td class="text-center"></td>
    </tr>
  </tbody>
</table>
