<h2>Eventos</h2>
<hr>

<form action="" class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="buscar">
    </div>
    <div>
      <button class="btn btn-outline-success">Buscar</button>
    </div>
  </div>
</form>

<hr>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th class="text-center" scope="col">
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="alterImage()">
        {{!showImage ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of events">
      <td class="text-center">
        <img [collapse]="!showImage"
             [isAnimated]="true"
        src="/assets/{{event.imageUrl}}"
        [style.width.px]="imgWidth"
        [style.margin.px]="imgMargin">
      </td>
      <td class="text-center" scope="row">{{event.eventId}}</td>
      <td class="text-center">{{event.title}}</td>
      <td class="text-center">{{event.local}}</td>
      <td class="text-center">{{event.eventDate}}</td>
      <td class="text-center">{{event.peopleQuantity}}</td>
      <td class="text-center">{{event.batch}}</td>
      <td class="text-center"></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
